
<%= render 'shared/errors', obj: @article %>

<%= form_with(model: @article, local: true) do |f| %>
  
  <div class="field">
    <%= f.label :title, 'Title', :class => 'label' %>
    <div class="control">
    <%= f.text_field :title, :class => 'input', :placeholder => 'Enter your title' %>
    </div>
  </div>

  <div class="field">
    <%= f.label :description, 'Article Description', :class => 'label' %>
    <div class="control">
    <%= f.text_area :description, :class => 'textarea', :placeholder => 'Write your article here' %>
    </div>
  </div>

  <div class="field">
    <%= f.submit :class => 'button is-primary' %>
  </div>

  

  
    
<% end %>